{% load static %}
            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
                <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                  <div class="mb-2 mb-md-0">
                    ©<script>
                       document.write(new Date().getFullYear())
                     </script>,All rights recived by Bloggy</div>
                  
                </div>
              </footer>
              <!-- / Footer -->
  
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
{% if notification %}

      <div id="autoToast" class="bs-toast toast toast-placement-ex m-2 fade {{mesType}} top-0 start-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
        <div class="toast-header">
          <i class="bx bx-bell me-2"></i>
          <div class="me-auto fw-semibold">Notification</div>
          
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">{{notification}}</div>
      </div>
      {% endif %}
      
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var toastEl = document.getElementById('autoToast');
          var toast = new bootstrap.Toast(toastEl); // Initialize the toast
          toast.show(); // Show the toast
        });
      </script>      
      <!-- Core JS -->
      <!-- build:js assets/vendor/js/core.js -->
      <script src="{% static 'ad_inc' %}/assets/vendor/libs/jquery/jquery.js"></script>
      <script src="{% static 'ad_inc' %}/assets/vendor/libs/popper/popper.js"></script>
      <script src="{% static 'ad_inc' %}/assets/vendor/js/bootstrap.js"></script>
      <script src="{% static 'ad_inc' %}/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  
      <script src="{% static 'ad_inc' %}/assets/vendor/js/menu.js"></script>
      <!-- endbuild -->
  
      <!-- Vendors JS -->
      <script src="{% static 'ad_inc' %}/assets/vendor/libs/apex-charts/apexcharts.js"></script>
  
      <!-- Main JS -->
      <script src="{% static 'ad_inc' %}/assets/js/main.js"></script>
  
      <!-- Page JS -->
      <script src="{% static 'ad_inc' %}/assets/js/dashboards-analytics.js"></script>
  
      <!-- Place this tag in your head or just before your close body tag. -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
  </html>
  